// Gotham Pro

@font-face {
    font-family: 'Gotham Pro';
    src: url('fontsothamPro-Light.eot'), url('fontsothamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('fontsothamPro-Light.woff') format('woff'), url('fontsothamPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('fontsothamPro.eot'), url('fontsothamPro.eot?#iefix') format('embedded-opentype'),
        url('fontsothamPro.woff') format('woff'), url('fontsothamPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('fontsothamPro-Medium.eot'), url('fontsothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('fontsothamPro-Medium.woff') format('woff'), url('fontsothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('fontsothamPro-Bold.eot'), url('fontsothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fontsothamPro-Bold.woff') format('woff'), url('fontsothamPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('fontsothamPro-Black.eot'), url('fontsothamPro-Black.eot?#iefix') format('embedded-opentype'),
        url('fontsothamPro-Black.woff') format('woff'), url('fontsothamPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

// Roboto

@font-face {
    font-family: 'Roboto';
    src: url('fontsobotolight.woff2') format('woff2'), url('fontsobotolight.woff') format('woff'),
        url('fontsobotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fontsoboto.woff2') format('woff2'), url('fontsoboto.woff') format('woff'), url('fontsoboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fontsobotomedium.woff2') format('woff2'), url('fontsobotomedium.woff') format('woff'),
        url('fontsobotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fontsobotobold.woff2') format('woff2'), url('fontsobotobold.woff') format('woff'),
        url('fontsobotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fontsobotoblack.woff2') format('woff2'), url('fontsobotoblack.woff') format('woff'),
        url('fontsobotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

// Montserrat

@font-face {
    font-family: 'Montserrat';
    src: url('fontsontserratlight.woff2') format('woff2'), url('fontsontserratlight.woff') format('woff'),
        url('fontsontserratlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fontsontserrat.woff2') format('woff2'), url('fontsontserrat.woff') format('woff'),
        url('fontsontserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fontsontserratbold.woff2') format('woff2'), url('fontsontserratbold.woff') format('woff'),
        url('fontsontserratbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fontsontserratblack.woff2') format('woff2'), url('fontsontserratblack.woff') format('woff'),
        url('fontsontserratblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
